<h1>ESTE ES EL CARRITO MUGROSO</h1>
<a href="/catalog">Siga gastando pesitos</a>

{{#if user}}
{{#each carrito}}
<ul> 
    <li> 
{{this.name}}
${{this.price}}
Cantidad {{this.quantity}}
<a href="/delete/{{this._id}}"> Delete </a>
</li>
</ul>
{{/each}}

Pesitos totales: ${{sum}}
<a href="/pay">Comprar ahorita</a>
{{/if}}

<a href="/"> Al inisio </a>