<div class="brilli">
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">LAS JOYIAS DE LA CORONA</a>
    <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="/cart">Consulte su carromato</a>
    <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="/">Vuelve a la home ninio</a>


</nav>
<div class="container">
    <div class="row">
        {{#each product }}
        <div class="col-md-4 card">
            <div class="name">
                <h2>{{name}}</h2>
            </div>
            <div class="name">
                <p>{{description}}</p>
            </div>
            <div>
                <img class="img-fluid" src="{{image}}">
            </div>
            <h3>${{price}}</h3>
            <a href="/product/{{id}}">Véalo mejor</a>
        </div>
        {{/each}}
    </div>
</div>


<br>
<br>

</div>