<h1>HOLA</h1>

<div class="product-container">
{{#each product }} 
<h4>{{name}}</h4>
<h4>{{description}}</h4>
<h4>{{price}}</h4>

<img src="{{image}}">
<a href="/product/{{_id}}">Véalo mejor</a>
{{/each}}
<br>
<br>
<a href="/">a la home ninio</a>
</div>