<h1>{{name}}</h1>
<img src="{{image}}">
<div class="cuenta">
<p>${{price}}</p>
<p>{{description}}</p>
</div>
{{#if user}}
<form action="/add/{{id}}" method="POST">
<input type="number" name="quantity" id="quantity">
<button>Cómpremela señito</button>
</form>


{{else}}
<p>Necesitas estar registrado para comprar</p>
<a href="/auth/login">Inisie Sesión</a>
<a href="/auth/signup">Regístrese Parcero</a>

{{/if}}